## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Mogadishu,SO,80.64,broken clouds,2.04,45.34,Hotel Juba
1,3,Atuona,PF,77.22,few clouds,-9.80,-139.03,Villa Enata
2,16,Cockburn Town,TC,81.63,overcast clouds,21.46,-71.14,Osprey Beach Hotel
3,17,Akyab,MM,79.09,clear sky,20.15,92.90,Hotel Memory
4,20,Zhuhai,CN,75.20,clear sky,22.28,113.57,珠海粤财假日酒店

In [3]:
clean_vacation_df = vacation_df.dropna(how='any')

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
# 4b. Display the figure
max_temp = clean_vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = clean_vacation_df.loc[(clean_vacation_df["City"] == 'Upington')]
vacation_end = clean_vacation_df.loc[(clean_vacation_df["City"] == 'Upington')]
vacation_stop1 = clean_vacation_df.loc[(clean_vacation_df["City"] == 'Bloemfontein')]
vacation_stop2 = clean_vacation_df.loc[(clean_vacation_df["City"] == 'Barberton')] 
vacation_stop3 = clean_vacation_df.loc[(clean_vacation_df["City"] == 'Kroonstad')] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
185,584,Upington,ZA,78.8,clear sky,-28.45,21.26,River Place Manor

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = clean_vacation_df.loc[(clean_vacation_df["City"] == 'Upington'), ["Lat", "Lng"]].to_numpy()[0]
end = clean_vacation_df.loc[(clean_vacation_df["City"] == 'Upington'), ["Lat", "Lng"]].to_numpy()[0]
stop1 = clean_vacation_df.loc[(clean_vacation_df["City"] == 'Bloemfontein'), ["Lat", "Lng"]].to_numpy()[0]
stop2 = clean_vacation_df.loc[(clean_vacation_df["City"] == 'Barberton'), ["Lat", "Lng"]].to_numpy()[0]
stop3 = clean_vacation_df.loc[(clean_vacation_df["City"] == 'Kroonstad'), ["Lat", "Lng"]].to_numpy()[0]
print(stop2)

[-25.79  31.05]

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
waypoints=[(stop1),(stop2),stop3]
fig = gmaps.figure()
southafrica = gmaps.directions_layer(
              start, end, waypoints=waypoints,
              travel_mode='DRIVING')
fig.add_layer(southafrica)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,584,Upington,ZA,78.80,clear sky,-28.45,21.26,River Place Manor
1,842,Bloemfontein,ZA,78.80,few clouds,-29.12,26.21,Protea Hotel by Marriott Bloemfontein
2,698,Barberton,ZA,82.40,clear sky,-25.79,31.05,Barberton B&B
3,1452,Kroonstad,ZA,76.77,light rain,-27.65,27.23,Travel Inn Kroonstad

In [14]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map.
# 11b. Display the figure
max_temp = clean_vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))